.rollbar-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    height: 80px;
}
.rollbar {
    flex: 1;
    /* background-repeat: repeat-x; */
    height: 80px;
    z-index: 10;
}
.handle-left {
    position: relative;
    width: 150px;
    height: 80px;
    left: 20px;
    z-index: 1;
}
.handle-right {
    position: relative;
    width: 150px;
    height: 80px;
    right: 20px;
    z-index: 1;
}
.ourbox-outer-container {
    width: 75%;
    border: 1px solid black;
    border-radius: 40px;
    padding: 4px;
}
.ourbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
    padding: 8px;
}

.ourbox-image {
    height: 380px;
    border-radius: 36px;
}

.ourbox-name-box {
    /* width: 72%; */
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.our-name-text {
    font-size: 48px;
}

.our-name-for {
    font-size: 24px;
} 

.our-guest-name {
    font-size: 32px;
}
.invitation-text {
    font-family: "Typewriter";
    font-weight: normal;
}
.title-text {
    font-family: "Windsor";
}
.fill-text {
    font-family: "Lancelot-Regular";
    font-weight: normal;
}
.bride-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 24px;
}
.bride-image-separator {
    width: 64px;
}
.bride-image {
    width: 400px;
    height: auto;
    background-size: contain;
    border-radius: 100%;
}
.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    height: auto;
}
.time-border {
    flex: 1;
    border-width: 1px;
    border-radius: 10px;
    height: 100%;
    /* border-style: solid;
    border-color: black; */
}
.time-outer {
    margin-top: 32px;
    margin-bottom: 64px;
    height: auto;
    border: 1px solid;
    border-radius: 48px;

}
.time-image {
    height: 80px;
    margin-top: 10px;
    background-size: contain;
}
.time-border-image {
    width: 50%;
}
.button-time {
    border-radius: 12px;
    border-width: 0px;
    color: black;
    padding: 16px;
    font-weight: bold;
    background-color: #B87333;
    width: 100%;
    text-decoration: none;
}
.time {
    font-size: 24px;
}
.icon {
    width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 10px;
}
.countdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 32px;
    height: auto;
    border-radius: 10px;
    background-color: #B8733340;
    width: 50%;
    padding-left: 32px;
    padding-right: 32px;
}

.countdown-divider {
    width: 64px;
}
.time-section {
    font-size: large;
}
.countdown-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding-bottom: 32px;
    margin-bottom: 64px;
}
.galery-container {
    display: flex;
    flex-direction: row;
    flex-basis: content;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 24px;
    padding-bottom: 32px;
}
.galery-image {
    width: 200px;
    height: auto;
    background-size: contain;
    margin: 12px;
}
.frame-image {
    margin-top: 30px;
    background-color: lightyellow;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.tape {
    background-color: rgba(255,255,235,.6);
    box-shadow: inset 0 0 1em .5em rgba(255, 255, 255, 0.1);
    height: 3em;
    position: absolute;
    transform: rotate(0deg);
    width: 8em;
    margin-top: 10px;
    margin-left: 80px;
    -webkit-filter: drop-shadow(0 1px 1px hsla(0,0%,0%,.3));
 }
.tape:after,
.tape:before {
    background-size: .4em .4em;
    bottom: 0;
    content: '';
    position: absolute;
    top: 0;
    width: .2em;
 }
.tape:after {
    background-image: linear-gradient(45deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                      linear-gradient(-45deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
    background-position: 0 100%;
    left: -.2em;
}
.tape:before {
    background-image: linear-gradient(135deg, transparent 50%, hsla(0,0%,100%,.3) 50%),
                      linear-gradient(-135deg, transparent 50%, hsla(0,0%,100%,.3) 50%);
    background-position: 100% 100%;
    right: -.2em;
}
.quotes {
    border-radius: 12px;
    border-width: 0px;
    color: black;
    padding: 16px;
    background-color: rgba(255,255,235,.6);
    width: 48%;
    text-decoration: none;
}