// VARIABLE
$width-mobile: 400px;
$width-tablet-min: 401px;
$width-tablet-max: 800px;
// 

@import "./scss/wedding.scss";

.f20 {
  font-size: 2.0rem;
}

.f24 {
  font-size: 2.4rem;
}

.f20 {
  font-size: 2.0rem;
}

.f18 {
  font-size: 1.8rem;
}

.f16 {
  font-size: 1.6rem;
}
