@media (min-width: 1px) and (max-width: 360px) {
    h1 {
        font-size: 1.7rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1.2rem;
    }
    
    h5 {
        font-size: 1.1rem;
    }
    
    h6 {
        font-size: 1.0rem;
    }

    .paper-content {
        flex: 1;
        width: 100%;
        background-size: contain;
        background-image: url('../images/paper.png');
        background-repeat: repeat-y;
        margin: 0 8px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .all-container {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        height: auto;
      }
      
      .container-center {
        flex: 1;
        /* background-repeat: repeat-x; */
      }
      .container-left {
        position: relative;
        flex: none;
        width: 15px !important;
      }
      .container-right {
        position: relative;
        flex: none;
        width: 15px !important;
      }
}