@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// VARIABLE
$width-mobile: 400px;
$width-tablet-min: 401px;
$width-tablet-max: 640px;
// 

@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript-Regular.ttf);
} 
@font-face {
    font-family: 'DancingScriptBold';
    src: url(../fonts/DancingScript-Bold.ttf);
}
@font-face {
    font-family: 'Typewriter';
    src: url(../fonts/Typewriter-dry.otf);
}
@font-face {
    font-family: 'Lancelot';
    src: url(../fonts/Lancelot-Regular.ttf);
}
    @font-face {
    font-family: 'Windsor';
    src: url(../fonts/Windsor.ttf);
}

:root {
  font-size: 10px;
}

body {
  background-image: url('../images/starlight.jpg');
  background-size: contain;
  background-repeat: repeat-y repeat-x;
    // background-color: black !important;
}

section {
  scroll-snap-align: start;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 2.0rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

.bulk-space {
  margin-top: 32px;
}

.inv-card {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  position: absolute;
  background-color: lightyellow;
  z-index: 11;
}

.all-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.container-center {
  flex: 1 !important;
  /* background-repeat: repeat-x; */
}
.container-left {
  position: relative;
  flex: none;
  width: 100px !important;
}
.container-right {
  position: relative;
  flex: none;
  width: 100px !important;
}

.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  max-width: 100%;
  width: 100%;
}

.paper-content {
  flex: 1;
  height: auto;
  width: 100%;
  contain: inline-size;
  background-size: contain;
  background-image: url('../images/paper.png');
  background-repeat: repeat-y;
  margin: 0 8px;
  padding-left: 48px;
  padding-right: 48px;
}


@import "./desktop-large.scss";
@import "./desktop-general.scss";
@import "./tablet.scss";
@import "./mobile.scss";
@import "./mobile-small.scss";