@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@font-face {
    font-family: 'DancingScript';
    src: url(../fonts/DancingScript-Regular.ttf);
} 
@font-face {
    font-family: 'DancingScriptBold';
    src: url(../fonts/DancingScript-Bold.ttf);
}
@font-face {
    font-family: 'Typewriter';
    src: url(../fonts/Typewriter-dry.otf);
}
@font-face {
    font-family: 'Lancelot';
    src: url(../fonts/Lancelot-Regular.ttf);
}
    @font-face {
    font-family: 'Windsor';
    src: url(../fonts/Windsor.ttf);
}

body {
    font-size: 12px;
    background-color: black !important;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

@import "./desktop-large.scss";
@import "./desktop-general.scss";
@import "./tablet.scss";
@import "./mobile.scss";